{% extends '::base.html.twig' %}

{% block body -%}
    <!-- THEME CSS -->
    <link href="{{ asset('css/ind.css') }}" rel="stylesheet" type="text/css" />
    <center>
        {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_DELEGUE')  %}
    <div class="container" style="float: left">
        <img src="{{ asset('images/cmd.jpg') }}" class="image" style="width:300px;height:400px">
        <div class="middle">
            <div class="text"><a href="{{ path('cmd') }}">Commande</a></div>
        </div>
    </div>
            {% endif %}
    <div class="container" style="float: right">
        <img src="{{ asset('images/budget.jpg') }}" class="image" style="width:300px;height:400px">
        <div class="middle">
            <div class="text"><a href="{{ path('depencebudget') }}">Depence</a></div>
        </div>
    </div>
    </center>
{% endblock %}